Source: mqtt
Maintainer: Menucha Team <info@menucha.de>
Build-Depends: debhelper, nodejs:native, golang:native, git, libc6

Package: mqtt
Architecture: any
Depends: ${shlibs:Depends}, mosquitto
Description: MQTT broker
