#!/usr/bin/make -f
 
%:
	dh $@

override_dh_install:
	CC=$(PREFIX)gcc GOOS=linux GOARCH=$(GOARCH) GOARM=$(GOARM) CGO_ENABLED=1 go build -o target/mqtt
	npm config set @peramic:registry $(NPM)
	cd webapp; npm install; node_modules/@angular/cli/bin/ng build --prod --no-progress --output-path=www
	dh_install
